@font-face {
	font-family: 'ClearSans-Bold';
	font-style: normal;
	font-weight: 700;
	src: local('ClearSans'), url('../fonts/ClearSans-Bold.woff') format('woff');
}
@font-face {
	font-family: 'ClearSans-Medium';
	font-style: normal;
	font-weight: 500;
	src: local('ClearSans'), url('../fonts/ClearSans-Medium.woff') format('woff');
}
@font-face {
	font-family: 'ClearSans-Regular';
	font-style: normal;
	font-weight: 400;
	src: local('ClearSans'), url('../fonts/ClearSans-Regular.woff') format('woff');
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
li,
a,
section,
form,
table,
td,
tr,
tbody,
select,
label,
figure {
	margin: 0px;
	padding: 0px;
}
:root {
  --red-color: #EE5149;
  --purple-color: #400080; 
  --dark-blue: #2C345D;
  --black-color: #000;
  --gray-color: #9286a3;
  --pink-gradient: linear-gradient(115deg,#d71997,#b03d9b);
}
h2{
	font-size: 24px;
	font-weight: 600;
	color: var(--purple-color);
}
.otherdba_s h2{
	text-align: center;
	color: var(--dark-blue);
}
a:hover,
a:focus {
	text-decoration: none;
}

a {
	color: inherit;
}
*{
	box-sizing: border-box;
}
ul>li,
li {
	list-style: none;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.row > div {
	padding-left: 0px;
	padding-right: 0px;
}
label{
	margin-bottom: .5rem;
}

.wholepage{
	width: 100%;
	overflow: hidden;
	font-weight: 400;
	font-family: 'ClearSans-Regular';
	min-height: 100%;
	counter-reset: section;
}
/*header*/
 
.brand-logo img{
	max-height: 32px;
	max-width: 100%;
}
.nav-menu > li {
	padding: 5px 10px;
	position: relative;
	border-radius:3px 3px 0 0;
}
.nav-menu > li > a{
	color: #485a83;
	font-size: 13px;
	font-weight: 600;
}
.nav-menu li:hover > a{
	color: #fff;
}
.nav-menu li:hover i{
	transform: rotate(180deg);
	color: #fff;
}
.nav-menu li:hover .sub_menu{
	display: block;
}
.nav-menu li:hover{
	background-color: #121b3b;
	color: #fff;
}
.nav-menu li i{
	color: #e74532;
}
.nav-menu{
	position: relative;
}
.sub_menu{
	background-color: #121b3b;
	position: absolute;
	z-index: 99;
	width: 295px;
	display: none;
	border-radius: 0  0 3px 3px;  
	padding: 20px 0 10px;
	top: 100%;
	left: 0;
}
.sub_menu li a{
	color: #fff;
	font-weight: 500;
	padding: 5px 10px 5px 20px;
	display: block;
}

/*banner section*/
.homebanner{
	position: relative;
	display: flex;
	align-items: center;
	min-height: calc(100vh - 70px);
	height: auto;
	padding: 100px 0;
	z-index: 1;
	font-size: 22px;
}
.herobanner_img,
.herobanner_img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-position: center;
}
.banner_mcontent{
	width: 100%;
	margin-left: 50px;
}
.banner_content{
	margin-left: 50px;
}
.banner_content h1{
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 10px;
}
.banner_content h5{
	color: var(--purple-color);
	font-weight: 600;
	font-size: 18px;
}
/*feature section*/
.main_section{
	padding: 70px 0; 
}
.feature_div h4{
	text-align: center;
	color: var(--purple-color);
	font-weight: 600;
	margin-bottom: 20px;
}
.feature_img img{
	height: 30px;
	width: 30px;
	object-position: center;
}

.border_bar{
	width:65px;
	height: 5px;
	display: block;
	background-color:var(--red-color);
	margin: 0 auto;
	border-radius: 10px;
}
.feature_container,
.partner_container,
.solution_title_section,
.dba_section,
.otherdba_s,
.contact_map_section,
.tabs-section,
.process_container,
.timeline_section
{
	max-width: 845px;
	margin: 0 auto;
}
.footer_container {
	max-width: 845px;
	margin: 0 auto 0 9%;
}
.feature-div{
	padding:50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.feature-div h6{
	margin:15px 0; 
	color: #485a83;
   font-weight: 600;
}
/*use case section*/
.usecase_section{
	background-color: #2C345D;
	padding: 30px;
	 color: #fff;
	 text-align: center;
}
.usecase_section h3{
	margin-bottom: 15px;
}
.usecase_img img{
	height: 50px;
	width: 50px;
	object-position: center;
	object-fit: contain;
}
.usecase_wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.usecase_content{
	padding: 50px 0 35px 0;
}
.usecase_content p{
	padding-top: 40px;
	font-size: 18px;
}

/*partner section*/
.partner_section{
	padding: 50px 0; 
	text-align: center;
}
.partner_section h3{
	text-align: center;
	color: #6C3B90;
	font-weight: 600;
	margin-bottom: 15px;
}
.partner_image{
	margin-top: 30px;
}
.partner_image img{
	height: 150px;
	width: 150px;
	object-position: center;
	object-fit: contain;
}
/*footer*/
#footer{
padding: 50px 0 80px 0;
background-image: linear-gradient(115deg,#464178,#243055);
color: #fff;
}
.footer-list-div h5{
	color: var(--red-color);
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 15px;
}
.footer-list li + li{
	padding-top: 15px;
}

/*solution data page*/
.dba_row{
	display: flex;
	align-items:center;
}
.main_content{
	padding-top: 30px;
}
.stitle_wrapper h3,
.dba_title h3
{
	color: var(--purple-color);
	font-weight: 600;
}
.sp_figure img{
	max-width: 146px;
	max-height: 146px;
	object-fit: contain;
	object-position: center;
}
.cycle_image img{
		max-width: 290px;
		max-height: 290px;
		object-position: center;
		object-fit: contain;
}
.dba_section,
.contact_partss{
	padding: 50px 0;
}
.dba_title{
	text-align: center;
	background-color: #F6F6F7;
	padding: 15px 0;
	border:1px solid #ddd;
	margin: 10px 5px;
}
.dba_wrappers{
	border:2px solid #ddd;
	border-radius: 4px;
}
.dbac_wrappter{
	padding: 25px;
}
.dbal_content h3{
	color: var(--purple-color);
	margin-bottom: 10px;
	font-size: 24px;
}
.dbal_content{
	font-size: 14px;
	line-height: 1.2;
	color: var(--gray-color);
}
.dbac_wrappter{
	display: flex;
}
.stitle_wrapper h3{
	padding-left: 20px;
}
.dbal_content{
	padding-left: 15px;
}
.otherdba_s h3{
	text-align: center;
	font-weight: 600;
}
.other_s_content{
	display: flex;
	justify-content: space-between;
	padding: 50px;
	flex-wrap: wrap;
}
.other_s{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.other_s a{
	font-size: 22px;
	font-weight: 700;
	color: var(--purple-color) !important;
}
.os_image {
	min-height: 122px;
}
.other_s h4{
	margin-top: 15px;
	font-size: 20px;
	color: var(--purple-color);
	font-weight: 600;
}
.pa_section{
	background-image: linear-gradient(115deg,#464178,#243055);
	padding:80px 20px;
	color: #fff;
}
.ml_section{
	padding: 60px 50px 80px 50px;
}
.pa_title h3{
	text-align: center;
	font-size: 22px;
	margin-bottom: 35px;
}
.pa_content{
	display: flex;
	justify-content: space-between;
}
.contact_map_section{
	padding: 60px 0;
}
.contact_part h3{
	color: var(--purple-color);
	margin-bottom: 20px;
}
.form_sec{
	padding-right:60px;
}
.twocol_form{
	display: flex;
}
.twocol_form .form_controls{
	max-width: 50%;
	flex:0 0 50%;
}
.twocol_form .form_controls + .form_controls{
	padding-left: 13px;
}
/*address part*/
.col_location{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}
.address_wrapper{
	font-weight: 600;
	font-size: 14px;
}
.address_wrapper p{
	color: var(--purple-color);
}
.bars{
	margin:6px 0 12px;
	background: var(--red-color);
}
.address_wrapper h3{
	font-size: 20px;
    font-weight: 600;
}
.address_wrapper h5{
	font-size: 16px;
    font-weight: 600;
    margin-bottom:15px;
}
.form_controls label{
	display: block;
	width: 100%;
	font-size: 13px;
	line-height: 18px;
	color: #818696;
	text-transform: uppercase;
}

.form_controls input{
	display: block;
	width: 100%;
	height: 42px;
	padding: 0 11px;
	margin-top: -4px;
	font-size: 15px;
	line-height: 22px;
	color: #70768b;
	background-color: #fff;
	border: 1px solid rgba(157,162,180,.4);
	border-radius: 2px;
	outline: 0;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.1);
	-webkit-appearance: none;
	margin-bottom: 10px;
}
.form_controls textarea{
	display: block;
	width: 100%;
	min-height: 117px;
	padding: 10px 11px;
	margin-top: -5px;
	font-size: 15px;
	line-height: 22px;
	color: #70768b;
	resize: none;
	background-color: #fff;
	border: 1px solid rgba(157,162,180,.4);
	border-radius: 2px;
	outline: 0;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.1);
	-webkit-appearance: none;
}
.button{
	display: inline-block;
	width: auto;
	height: 46px;
	padding: 14px 23px 0;
	font-size: 0;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	border-radius: 3px;
	transition: background-image .15s ease-in-out,background-color .15s ease-in-out,color .15s ease-in-out;
}
.self_btn{
	height: 39px;
	padding: 0 15px;
	background-color: #fff;
	border: 2px solid #2072b8;
	font-size: 17px;
	font-weight: 500;
	line-height: 17px;
	color: #2072b8;
	cursor: pointer;
}
.self_btn:hover{
	color: #fff;
	background-color: #2072b8;
	border-width: 2px!important;
}
.contact_partss{
	display: block;
	width: 100%;
	margin: 0 auto;
}
/*contact page marker*/
.row_contactus{
	display: flex;
	justify-content: flex-end;
}
.contact_partss h3{
	text-align: center;
	font-weight: 700;
	color:var(--black-color);
}
.uc_bar{
	margin-left: 20px;
	height: 5px;
	margin-top: 6px;
	width: 90px;
	background: var(--red-color);
}
.uc_title_wrapper h3{
	color: #000;
}
.but_right{
	text-align: right;
	margin-top: 10px;
}
.tab_m_content h3 {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 20px;
}
.tab_m_content{
	padding: 25px 25px;
	max-width: 600px;
	width:100%;
	margin: 0 auto;
	font-size: 18px;
	line-height:1.6;
}
.tab_m_content p{
	color: var(--gray-color);
}
.mytab_btn li + li{
	padding-left: 8px;
}
.tabs-section{
	padding: 50px 0; 
}
.mytab_btn{
	position: relative;
	padding: 11px;
	height: 50px;
	background-color: #fff;
	border: 1px solid hsla(233,7%,75%,.7);
	border-radius: 8px;
	box-shadow: 0 2px 24px 0 rgba(0,0,0,.06);
}
.mytab_btn li.active a{
	background-image: var(--pink-gradient);
	border-radius: 6px;
	color: #fff;
	padding: 10px;
}
.mytab_btn li a{
	font-size: 13px;
	color: #121b3b;
}
.map_sec iframe{
	overflow: hidden;
	width: 100%;
}
.cycle_wrap h3{
	color: var(--purple-color);
}
.cycle_wrap p{
	margin: 10px 0 0 20px;
	color: #485a83;
}
.process_section{
	background-color: #fbfbfb;
	padding-bottom: 60px;
	border-radius: 0 0 85% 85% / 30%;
}
.process_header,
.timeline_m_section{
	background-color: #fbfbfb;
}
.process_conts{
	padding: 0;
}
.timeline_section{
	padding: 50px 0; 
}
.time_uppart{
	text-align: center;
}
.time_uppart span{
	background-image: linear-gradient(115deg,#d71997,#b03d9b);
	color: #fff;
	padding: 10px 15px;
	height: 40px;
	border-radius: 25px;
	box-shadow: 0 0 0 1px #ddd;
	border: 2px solid #fff;
}
.time_uppart{
	position: relative;
}

.time_uppart:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	height: 2px;
	background-image: linear-gradient(115deg,#ddd,#ddd);
	z-index: -1;
}
.time_top_s{
	text-align: center;
	margin-bottom: 30px;
}
.time_top_s p {
	color: var(--gray-color);
}
.time_top_s h3{
	margin:30px 0 10px 0;
}


/*timeline*/
.time_content{
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px 25px;
	border-radius: 3px;
	position: relative;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
}
.time_content h4{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 5px;
}

.timeline_wrapper .row .content_col:after{
  content: " ";
  height: 0;
  position: absolute;
  top: calc(50% - -7px);
  width: 0;
  z-index: 1;
  left: -10px;
  border-style: solid;
  border-width:10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;

}
.timeline_wrapper .row{
	display: flex;
	justify-content: space-between;
	
}
.timeline_wrapper .row .colmd6{
	width:390px;
	position: relative;
}
.timeline_wrapper{
	position: relative;
}
.timeline_wrapper:before{
	content: "";
	position: absolute;
	background-color: #ddd;
	width: 2px;
	top: 60px;
	bottom: 0;
	left: 50%;
}
.timeline_wrapper .row .content_col:before{
	counter-increment: section;
	content:  counter(section);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #3e93cd;
	position: absolute;
	top: 50%;
	left: 0;
	line-height: 35px;
	color: #fff;
	text-align: center;
}
.timeline_wrapper .row:nth-child(odd) .content_col:before{
	left: -48px;
}
.timeline_wrapper .row:nth-child(even) .content_col:before{
	left: auto;
	right: -53px;
}

.timeline_wrapper .row:nth-child(odd) .content_col:after{
	
}
.timeline_wrapper .row:nth-child(even) .content_col:after{
	transform: rotate(180deg);
	left: auto;
	right: -10px;
}
.time_ul li{
	position: relative;
	color: #9286a3;
}

.time_ul li:before{
	content: "›";
	font-weight: 600;
	position: absolute;
	left: -9px;
    top: -1px;
    color: var(--dark-blue);
}
.time_content figure img{
	width: 30px;
	height: 30px;
	object-position: center;
	object-fit: contain;
}

/*Responsive Design*/
@media(max-width: 991px){
	h1{
		font-size: 36px;
	}
	h2, .other_s a{
		font-size: 22px;
	}
@media(max-width: 767px){
	.main_section{
		padding: 0;
	}
	.herobanner_img img{
		object-fit: cover;
		object-position: 0% 0;
		opacity: 0.5;
	}
	.feature-div{
		padding: 20px 20px;
	}
	.usecase_wrapper {
		justify-content: flex-start;
	}
	.usecase_content{
		width: 33%;
		padding: 10px 0 16px 0;
	}
	.usecase_content p{
		padding: 20px 0;
	}
	.usecase_section{
		padding: 30px 0;
	}
	/*solution ml*/
	h2, .other_s a{
		font-size: 20px;
	}
	.dba_row {
	    display: flex;
	    flex-direction: column-reverse;
	    text-align: center;
	}
	.sp_figure{
		margin-bottom: 10px;
	}
	.other_s_content {
		padding: 30px 0;
	}
	/*Contact Form (Global)*/
	.form_sec{
		padding-right: 0;
	}
	.contact_part{
		margin-bottom:20px;
	}
	.contact_part h3{
		text-align: center;
	}
	.contact_map_section{
		padding: 20px 0;
	}
	/**/
	/*Process Page*/
	.uc_bar{
		margin: 10px auto;
	}
	.timeline_section {
		padding: 30px 0;
	}
	.col_manager{
		margin: 0 auto;
	}

	/**/
}
@media(max-width: 577px){
	.timeline_wrapper .row .content_col:after{
		display: none;
	}
	.timeline_wrapper .row .content_col:before{
		display: none;
	}
}